.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 0;
}

.contentWrapper {
  padding: 2rem;
  background-color: white;
}

.actions {
  margin-top: 2rem;
  text-align: right;
}

.actions .cancelButton {
  margin-left: 1rem;
}